@import 'admin';
@import 'main';
@import '~sweetalert2/src/sweetalert2.scss';
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css';
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'all_variables';
//@import "~font-awesome/scss/font-awesome";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.swal2-popup .swal2-title{
  font-size: 1.2rem!important;
}
.is-danger{
  color:red;
}
.dropdown-toggle{
  height:37px!important;
}

